<html xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <link   rel="stylesheet"  th:href="@{/dashboard.css}">
</head>
<body>
<div class="container">
    <h2>Timesheet</h2>

    <div class="card">
        <form th:action="@{/employee/timesheet}" method="post">
            <label>Date</label>
            <input type="date" name="date" required>

            <label>Hours Worked</label>
            <input type="number" name="hours" required>

            <label>Description</label>
            <textarea name="description"></textarea>

            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="card">
        <h3>Previous Entries</h3>

        <table>
            <tr>
                <th>Date</th>
                <th>Hours</th>
                <th>Description</th>
            </tr>

            <tr th:each="entry : ${timesheets}">
                <td th:text="${entry.date}"></td>
                <td th:text="${entry.hours}"></td>
                <td th:text="${entry.description}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>