body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

body {
    padding: 20px;
}

.table {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    padding: 15px 20px;
    margin-bottom: 12px;

    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

}



.name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    width:300px;
}

.dept {
    font-size: 14px;
    color: #666;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}


.edit-button {
    background-color: #4CAF50;
    color: white;
}

.edit-button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
}

.delete-button:hover {
    background-color: #c0392b;
}